@charset "utf-8";

@font-face {
    font-family: 'LIBRARY3AM';
    src: url('../font/LIBRARY3AM.eot');
    src: url('../font/LIBRARY3AM.eot?#iefix') format('embedded-opentype'),
            url('/font/LIBRARY3AM.svg#LIBRARY3AM') format('svg'),
            url('../font/LIBRARY3AM.ttf') format('truetype'),
            url('../font/LIBRARY3AM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Test
html.sr .load-hidden {
    visibility: hidden;
}

// Social Media
$twitter-background: #1DA1F2;
$twitter-background-hover: #657786;
$twitter-foreground: #ffffff;
$facebook-background: #4267B2;
$facebook-background-hover: #000;
$facebook-foreground: #ffffff;
$youtube-background: #FF0000;
$youtube-background-hover: #282828;
$youtube-foreground: #ffffff;

// Branding
$branding-foreground: #fe9300;
$branding-background: #00c9ff;
$branding-accent-1: #fefc28;
$branding-accent-2: #fe9300;
$branding-accent-3: #d4cdab;

// Navbar
$navbar-height: 4rem;
$navbar-background-color: $branding-background;

.brand-font {
    font-family: "LIBRARY3AM";
}

.brand-color {
    color: $branding-accent-1 !important;
    background-color: $branding-background !important;
}

// Footer
.footer {
    font-size: 2rem;
}

.footer-social-media {
    div {
        a {
            color: $branding-foreground;
            &:hover {
                color: $branding-accent-1;
            }
        }
        
    }
}

// Wrapper
.wrapper {
    margin: 2.5rem;
}

// Hero
.heading-hero {
    background-color: $branding-accent-1;
    .hero-body{
        div {
            .title, .subtitle {
                color: $branding-foreground;
            }
        }
    }
}

// Cards
.heading-card {
    margin-bottom: 1.5rem;
    font-family: "Library3am", sans-serif;
    font-size: 1.25rem;
    .card-content {
        background-color: $branding-background;
    }
}

.section-card {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

// Tiles
.tile .is-child, .heading-card > .card-content, .current-work-cards > div > div {
    box-shadow: 5px 5px 15px 2.5px rgba(0, 0, 0, 0.15);
}

// Images
.portfolio-img {
    &.full-width {
        max-width: 100%;
    }
    &.half-width {
        max-width: 50%;
    }
    &.quarter-width {
        max-width: 25%;
    }
}


// Button
.is-facebook {
    background-color: $facebook-background !important;
    span {
        color: $facebook-foreground !important;
    }
    border: none !important;
    &:hover {
        background-color: $twitter-background-hover !important;
        span {
            color: #fff !important;
        }
    }
}

.is-twitter {
    background-color: $twitter-background !important;
    span {
        color: $twitter-foreground !important;
    }
    border: none !important;
    &:hover {
        background-color: $twitter-background-hover !important;
        span {
            color: #fff !important;
        }
    }
}

.is-youtube {
    background-color: $youtube-background !important;
    span {
        color: $youtube-foreground !important;
    }
    border: none !important;
    &:hover {
        background-color: $youtube-background-hover !important;
        span {
            color: #fff !important;
        }
    }
}

.is-email {
    background-color: $branding-foreground !important;
    span {
        color: #ffffff !important; 
    }
    border: none !important;
    &:hover {
        background-color: $branding-accent-1 !important;
        span {
            color: #000 !important;
        }
    }
}

// Icons
.section-branding-graphic {
    div {
        p {
            span  {
                color: green;
            }
        }
    }
}

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";